.row
  .col-md-4.col-md-offset-4
    .panel.panel-info
      .panel-heading Log in
      .panel-body
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-group
            = f.label :email, class: 'control-label'
            %br/
            = f.email_field :email, autofocus: true, class: 'form-control'
          .form-group
            = f.label :password, class: 'control-label'
            %br/
            = f.password_field :password, autocomplete: 'off', class: 'form-control'
          - if devise_mapping.rememberable?
            .form-group
              .checkbox
                %label
                  = f.check_box :remember_me
                  Remember me
          .form-group
            = f.submit 'Log in', class: 'btn btn-success'
        = render 'users/shared/links'
