%h2.text-muted Leave comment :
%hr
= form_for [:catalogue, Comment.new], html: {class: 'form-horizontal'} do |f|
  = f.hidden_field :hotel_id, value: @hotel.id
  .form-group
    = f.label :body, class: 'control-label'
    = f.text_area :body, class: 'form-control col-md-12', style: "resize: none", rows: 5
  .form-group
    = f.submit 'Comment', class: 'btn btn-success'