%h2.text-muted
  Comments
  %span.badge= comments.size
%hr
- if comments.present?
  - comments.each do |comment|
    .comment
      .text-muted #{comment.user.email}  |  #{comment.created_at}
      %p= comment.body
- else
  %p.text-warning
    There are no comments yet! :/