.col-md-4.hotel-item
  = image_tag hotel.photo.thumb.url, class: 'img-circle'
  %h2= link_to hotel.title, catalogue_hotel_path(hotel)
  %p= hotel.room_description.html_safe
  = link_to 'View Details >>', catalogue_hotel_path(hotel), class: 'btn btn-default'