= form_for([:catalogue, rating_score], html: { class: 'rating_score' }) do |f|
  = f.label('value_1', content_tag(:span, '1'), {class: 'rating', id: '1'})
  = radio_button_tag('raiting[score]', 1, current_user_rating == 1, class: 'rating_button')
  = f.label('value_2', content_tag(:span, '2'), {class: 'rating', id: '2'})
  = radio_button_tag('raiting[score]', 2, current_user_rating == 2, class: 'rating_button')
  = f.label('value_3', content_tag(:span, '3'), {class: 'rating', id: '3'})
  = radio_button_tag('raiting[score]', 3, current_user_rating == 3, class: 'rating_button')
  = f.label('value_4', content_tag(:span, '4'), {class: 'rating', id: '4'})
  = radio_button_tag('raiting[score]', 4, current_user_rating == 4, class: 'rating_button')
  = f.label('value_5', content_tag(:span, '5'), {class: 'rating', id: '5'})
  = radio_button_tag('raiting[score]', 5, current_user_rating == 5, class: 'rating_button')

  = f.hidden_field :hotel_id , value: @hotel.id
  = f.submit 'Rate', class: 'btn btn-default'