%h1 Add your hotel:
= form_for [:catalogue, @hotel], html: {class: 'form-horizontal'} do |f|
  %h3.text-primary Hotel info:
  .form-group
    = f.label :title, class: 'control-label'
    %br/
    = f.text_field :title, autofocus: true, class: 'form-control'
  .form-group
    = f.label :room_description, class: 'control-label'
    = f.cktext_area :room_description, ckeditor: {toolbar: 'mini'}
  .form-group
    = f.label :breakfast, class: 'control-label'
    = f.check_box :breakfast, checked: true
  .form-group
    = f.label :price_for_room, class: 'control-label'
    = f.text_field  :price_for_room,
                    type: :number,
                    maxlength: 10,
                    placeholder: '0.00',
                    step: 0.2,
                    min: 0,
                    class: 'form-control'
  .form-group
    %label Photo :
    = image_tag(@hotel.photo_url) if @hotel.photo?
    = f.file_field :photo
  %h3.text-primary Hotel address:
  = f.fields_for :address do |address_form|
    .form-group
      %label.control-label Country :
      = address_form.text_field :country, placeholder: 'Enter location', class: 'form-control'
    .form-group
      %label.control-label City :
      = address_form.text_field :city, placeholder: 'Enter location', class: 'form-control'
    .form-group
      %label.control-label Street :
      = address_form.text_field :street, placeholder: 'Enter location', class: 'form-control'
  .form-group
    = f.submit 'Add hotel', class: 'btn btn-default btn-lg'