.row
  %h1.h1-hotels
    Hotel:
    %span.text-primary= @hotel.title
  %hr
  .col-md-8.col-md-offset-2.hotel-show
    = image_tag @hotel.photo.orig.url, class: 'thumbnail'
    %p.text-muted
      Location :
      = @hotel.address.blank? ? @hotel.address.values.join(', ') : 'Somewere'
    .text-muted= @hotel.room_description.html_safe
    %p.text-muted
      Breakfast
      - if @hotel.breakfast
        .label.label-success Yes
      - else
        .label.label-warning No
    %h3.text-success
      Price :
      .label.label-success= number_to_currency @hotel.price_for_room
    %p.text-muted
      Current rate is #{@hotel.average_rating}, rate by #{@hotel.raters.size}
      - if user_signed_in?
        %table.table.table-condensed
          %thead
            %tr
              %th{ colspan: 2 }
                Hotel Rating
            %tr.warning
              %td Average Rating
              %td= @hotel.average_rating
            %tr.info
              %td Your Rating
              %td= current_user_rating
        = render 'raiting_form'
      - if @hotel.raters.present?
        This hotel rated by #{@hotel.raters.size} users :
        %p.text-primary
          = @hotel.raters.map(&:email).join(', ')
      - else
        %p.text-warning Nobody rated #{@hotel.title}
    %p.text-muted
      Added
      %span.text-primary
        = @hotel.created_at
      by
      %span.text-primary
        = @hotel.author.email
.row
  = render partial: 'comments', locals: { comments: @hotel.comments }
.row
  - if user_signed_in?
    = render partial: 'add_comment'
  - else
    %p.text-warning
      "Please #{link_to 'sign in', new_user_session_path} or #{link_to 'register', new_user_registration_path} to leave comment for this hotel"
