.navbar.navbar-default{role: 'navigation'}
  .container-fluid
    .navbar-header
      = link_to 'Dashboard', root_path, class: 'navbar-brand'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Hotels', catalogue_hotels_url
        %li= link_to 'About', '#'
        %li= link_to 'Help', '#'

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.active= link_to("Logout (#{current_user.email})", destroy_user_session_path, method: :get)
          %li= link_to('Edit registration', edit_user_registration_path)
          %li= link_to('Add hotel', new_catalogue_hotel_path)
        - else
          %li.active= link_to('Login', new_user_session_path)
          %li= link_to('Register', new_user_registration_path)