%html
  %head
    %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
  %body
    %h1 Hi, <%= @recipient.email %></h1>
    %p
      You have successfully added hotel
    %p
      To view hotel on the site, just follow this link: #{@url}.
    %p Thanks!