%html(lang= "en")
  %head
    %title Hotels
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
%body
  / Site header
  = render 'shared/header'
  / Container
  .container-fluid
    / Alerts
    .row-fluid
      = render 'shared/flash' unless flash.blank?
    / Data
    .row-fluid
      .col-md-10.col-md-offset-1
        = yield
