.row
  .col-md-6.col-md-offset-3
    .panel.panel-primary
      .panel-heading Sign up
      .panel-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name),
        html: { role: 'form' }) do |f|
          = devise_error_messages!
          .form-group
            = f.label :email, class: 'control-label'
            = f.email_field :email, autofocus: true, class: 'form-control'
          .form-group
            = f.label :password, class: 'control-label'
            - if @validatable
              %i
                (#{@minimum_password_length} characters minimum)
            = f.password_field :password, autocomplete: 'off', class: 'form-control'
          .form-group
            = f.label :password_confirmation, class: 'control-label'
            = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
          .form-group
            = f.submit 'Create user', class: 'btn btn-primary'
        = render 'users/shared/links'
